h1 
{
    padding: 5px;
}

.control .cancel
{
    background-color: rgb(206, 15, 15);
    color: white;
}

.control .save 
{
    background-color: rgb(81, 163, 81);
    color: white;
}

.text-bg
{
    padding: 10px;
    background: linear-gradient(to left, rgb(52, 150, 150), rgb(19, 241, 193));
}